.rectangle4,
.rectangle5 {
    position: relative;
    -webkit-tap-highlight-color: transparent; 
    text-decoration: none; 
    color: inherit; 
    display: flex; 
    align-items: center; 
    cursor: default;
    overflow: hidden; 
    z-index: 1; 
    transition: background-color 0.1s ease;
}
.rectangle5.clicked {
    background-color: var(--tg-theme-hint-color); 
    opacity: .2;
    transition: background-color 0.1s ease; 
}
.ripple {
    position: absolute;
    border-radius: 50%;
    background: var(--tg-theme-hint-color); 
    opacity: .2;
    transform: scale(0);
    pointer-events: none; 
    transition: background 0.3s ease; 
    z-index: 0; 
}

.ripple.animate {
    animation: ripple-animation ease-out 0.6s; 
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
.text5 {
    position: relative; 
    z-index: 2; 
}

.icon1_5,
.icon2_5 {
    position: relative; 
    z-index: 2; 
}